.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/0106_hinh-nen-4k-may-tinh11.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/0106_hinh-nen-may-tinh-full-hd55.jpg);
}

.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/0106_hinh-nen-may-tinh-full-hd62.jpg);
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}
